<div class="container">
  <div class="page-header">
    <h1>
      Equipo
      <div class="pull-right">
        <%= link_to "Volver", edit_tournament_path(@tournament), class: "btn btn-default" %>
      </div>
      <div class="clearfix"></div>
    </h1>
    <div class="text-muted">del torneo <%= @tournament.name %></div>
  </div>

  <%= simple_form_for [@tournament, @team] do |f| %>
    <fieldset>
      <legend>
        Datos generales
        <div class="pull-right">
          <%= f.button :submit, "Actualizar", class: "btn btn-primary" %>
        </div>
        <div class="clearfix"></div>
      </legend>
      <%= f.input :name %>

    </fieldset>

    <fieldset>
      <legend>
        Miembros
        <%= link_to new_tournament_team_member_path(@tournament, @team), class: "btn btn-danger pull-right" do %>
          <i class="fa fa-plus"></i> Nuevo
        <% end %>
        <div class="clearfix"></div>
      </legend>

      <% unless @team.has_members? %>
        <div class="well">
          <p>No hay miembros registrados en este equipo.</p>
        </div>
      <% else %>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>¿Confirmado?</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          <% @team.find_members.each do |member| %>
            <tr>
              <td>
                <%= member.email %>
              </td>
              <td>
                <% if member.invitation_accepted_at %>
                  <i class="fa fa-check"></i>
                <% else  %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
              <td class="text-right">
                <%= link_to tournament_team_member_path(@tournament, @team, member), method: :delete, class: "btn btn-default btn-sm" do %>
                  <i class="fa fa-trash-o"></i> Quitar
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </fieldset>

  <% end %>
</div>


