<div class="container">
  <div class="page-header">
    <h1>Registración</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= f.input :email, autofocus: true %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
      <h5>También puede intentar: </h5>
      <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6">
      <div class="alert alert-info">
        <h2>Periodo de Prueba</h2>
        <p>
          Puede probar Koncu gratuitamente y sin ningún tipo de compromiso por 30
          días. Solo debe registrarse aquí para obtener su cuenta y podrá comenzar
          a organizar su torneo inmediatamente. Terminado el periodo de prueba, nos
          comunicaremos con usted a través del email para asesorarlo acerca de
          nuestros planes y precios.
        </p>

      </div>
    </div>
  </div>
</div>
