<div class="container">
  <div class="page-header">
    <h1>Registración</h1>
  </div>

  <div class="row">
    <div class="col-md-7">
      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= f.input :email, autofocus: true %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, "Registrar", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>

    <div class="col-md-5">
      <div class="well well-lg">
        <div class="text-center">
          <h4>También puede iniciar sesión directamente a través de:</h4>
        </div>
        <%= render "devise/shared/social" %>
      </div>
    </div>
  </div>
</div>
