<div class="container">
  <div class="page-header">
    <h1>
      Participaciones
      <div class="pull-right">
        <%= link_to "Volver", root_path, class: "btn btn-default" %>
      </div>
      <div class="clearfix"></div>
    </h1>
    <div class="text-muted">del equipo <%= @team.name %> en el torneo <%= @team.tournament.name %></div>
  </div>

  <% @team.all_events.in_groups_of 3 do |events| %>
    <div class="row">
      <% events.each do |event| %>
        <% if event %>
          <div class="col-md-4">
            <div class="<%= event_container_class(event) %>">
              <div class="fixture-event-widget-header">
                <div class="row">
                  <div class="col-xs-6 text-left">
                    <h3>Local</h3>
                    <%= event.first_team.name %>
                    <% unless event.unplanned? %>
                      <% if event.first_team_confirmed? %>
                        <i class="fa fa-check"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-xs-6 text-right">
                    <h3>Visitante</h3>
                    <% unless event.unplanned? %>
                      <% if event.second_team_confirmed? %>
                        <i class="fa fa-check"></i>
                      <% end %>
                    <% end %>
                    <%= event.second_team.name %>
                  </div>
                </div>
              </div>
              <dl>
                <dt>Fecha:</dt>
                <dd>
                <% if event.date %>
                  <%= l event.date, format: :long %>
                <% else %>
                  Sin confirmar
                <% end %>
                </dd>

                <dt>En:</dt>
                <dd>
                <% if event.location %>
                  <%= event.location.name %> (<%= event.location.address %>)
                <% else %>
                  Sin confirmar
                <% end %>
                </dd>
              </dl>

              <div class="actions">
                <% if event.unplanned? %>

                <% elsif event.pending? %>
                  <% if event.team_confirmation_pending?(@team) %>
                    <%= link_to "Confirmar asistencia", confirm_team_event_path(@team, event), class: "btn btn-default", method: :post %>
                  <% end %>
                <% elsif event.incomplete? %>

                <% else %>

                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>


</div>
