<div class="row text-center">
  <div class="col-xs-4">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <%= image_tag 'social/facebook.png', class: 'img-rounded img-responsive' %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <%= image_tag 'social/google-plus.png', class: 'img-rounded img-responsive' %>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <%= image_tag 'social/twitter.png', class: 'img-rounded img-responsive' %>
    <% end %>
  </div>
</div>
