<!DOCTYPE html>
<html>
  <head>
    <title>Koncu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.0.2/flatly/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <%= link_to "Koncu", root_path, class: "navbar-brand" %>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> <%= current_user.email %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        <% elsif controller_name != 'sessions' %>
          <%= link_to new_user_session_path, class: "btn btn-info navbar-btn pull-right" do %>
            <span class="glyphicon glyphicon-user"></span> Iniciar sesión
          <% end %>
        <% end %>
      </div>
    </nav>

    <div class="content">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>

    <% if flash[:alert] %>
      <script>
        $(document).ready(function() {
          $.pnotify({
            title: "Alerta",
            text: '<%= escape_javascript(flash[:alert]) %>',
            type: 'error',
            icon: 'glyphicon glyphicon-envelope',
            width: '60%',
            closer_hover: false
          });
        });
      </script>
    <% end %>

    <% if flash[:notice] %>
      <script>
        $(document).ready(function() {
          $.pnotify({
            title: "Alerta",
            text: '<%= escape_javascript(flash[:notice]) %>',
            type: 'success',
            icon: 'glyphicon glyphicon-envelope',
            width: '60%',
            closer_hover: false
          });
        });
      </script>
    <% end %>
  </body>
</html>
